{
  presets: [['es2015', { 'modules': false }], 'stage-2', 'react'],//预设 https://zhuanlan.zhihu.com/p/24224107
  plugins: [//插件先转换
    ["transform-runtime",{  //transform-runtime参数说明 https://segmentfault.com/a/1190000009065987    
                            //https://babeljs.io/docs/plugins/transform-runtime/#optionshelpers
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
}
